body{
font-family: Arial;
margin:30px;
background:#f9f9f9;
color:black;
}

h1{
text-align:center;
margin-bottom:30px;
}

/* Dashboard */

.dashboard{
display:flex;
gap:20px;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:200px;
text-align:center;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* Form */

form{
margin-bottom:30px;
display:flex;
flex-direction:column;
width:300px;
gap:10px;
}

input{
padding:8px;
}

/* Table */

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:10px;
border:1px solid #ccc;
text-align:center;
}

th{
background:#333;
color:white;
}

/* Buttons */

button{
padding:8px;
border:none;
background:red;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:darkred;
}

/* Search */

.searchBox{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
margin:20px 0;
}

/* Dark Mode */

.dark-mode{
background:#1c1c1c;
color:white;
}

.dark-mode .card{
background:#2c2c2c;
}

.dark-mode table{
background:#2c2c2c;
}

.dark-mode th{
background:black;
}

.loginBox{
width:300px;
margin:100px auto;
padding:30px;
background:white;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.2);
display:flex;
flex-direction:column;
gap:10px;
}

.loginBox h2{
text-align:center;
}

#errorMsg{
color:red;
text-align:center;
}